#advantages.advantages
    .advantages-light
        .advantages-wrapper.container
            h2.bebas-bold Почему
            h2.bebas-bold Именно мы
            //- TODO: icons
            //- TODO: p.text as in psd
            .advantages-row.row
                .col-sm-6.col-md-3.advantages-item
                    img.img-responsive(src="", alt="")
                    i.fa.fa-cog.fa-4x
                    h4.text-uppercase На рынке более 10 лет
                    p.text Наш опыт позволяет предлагать каждому клиенту оптимальное решение и гарантирует исключительное качество покраски
                .col-sm-6.col-md-3.advantages-item
                    img.img-responsive(src="", alt="")
                    i.fa.fa-cog.fa-4x
                    h4.text-uppercase Более тысячи работ
                    p.text В нашем портфолио более тысячи работ. Безупречный результат, удовлетворенность и доверие клиента.
                .col-sm-6.col-md-3.advantages-item
                    img.img-responsive(src="", alt="")
                    i.fa.fa-cog.fa-4x
                    h4.text-uppercase Новейшее обуродование
                    p.text Наше новейшее оборудование в арсенале позволяет проводить порошковую покраску любых деталей и поверхностей, даже длиномеров.
                .col-sm-6.col-md-3.advantages-item
                    img.img-responsive(src="", alt="")
                    i.fa.fa-cog.fa-4x
                    h4.text-uppercase порошковая покраска
                    p.text профнастил для кровли;профнастил для заборов; стеновой;оцинкованный; полимерный
                .col-sm-6.col-md-3.advantages-item
                    img.img-responsive(src="", alt="")
                    i.fa.fa-cog.fa-4x
                    h4.text-uppercase основное направление
                    p.text Наше основное направление - порошковая покраска. Покраску мы производим с использованием современного оборудования и качественных красителей.
                .col-sm-6.col-md-3.advantages-item
                    img.img-responsive(src="", alt="")
                    i.fa.fa-cog.fa-4x
                    h4.text-uppercase 100% результат
                    p.text Полное соблюдение технологических параметров, что позволяет достичь нам 100% результата.
                .col-sm-6.col-md-3.advantages-item
                    img.img-responsive(src="", alt="")
                    i.fa.fa-cog.fa-4x
                    h4.text-uppercase ценовая политика
                    p.text Все работы выполняются полностью в соответствии с требованиями ГОСТ, в установленные сроки и с неизменно высоким качеством.
                .col-sm-6.col-md-3.advantages-item
                    img.img-responsive(src="", alt="")
                    i.fa.fa-cog.fa-4x
                    h4.text-uppercase адекватные цены
                    p.text Благодаря нашим адекватным ценам, мы обеспечиваем клиентов не только качественно выполненой работой, но и появлением постоянных клиентов.