#advantages.advantages
    .advantages-light
        .advantages-wrapper.container
            h2.bebas-bold Почему
            h2.bebas-bold Именно мы
            //- TODO: icons
            //- TODO: p.text as in psd
            .advantages-row.row
                .col-sm-6.col-md-3.advantages-item
                    img.img-responsive(src="", alt="")
                    i.fa.fa-cog.fa-4x
                    h4.text-uppercase На рынке более 10 лет
                    p.text lorem
                .col-sm-6.col-md-3.advantages-item
                    img.img-responsive(src="", alt="")
                    i.fa.fa-cog.fa-4x
                    h4.text-uppercase Более тысячи работ
                    p.text lorem
                .col-sm-6.col-md-3.advantages-item
                    img.img-responsive(src="", alt="")
                    i.fa.fa-cog.fa-4x
                    h4.text-uppercase Новейшее обуродование
                    p.text lorem
                .col-sm-6.col-md-3.advantages-item
                    img.img-responsive(src="", alt="")
                    i.fa.fa-cog.fa-4x
                    h4.text-uppercase порошковая покраска
                    p.text lorem
                .col-sm-6.col-md-3.advantages-item
                    img.img-responsive(src="", alt="")
                    i.fa.fa-cog.fa-4x
                    h4.text-uppercase основное направление
                    p.text lorem
                .col-sm-6.col-md-3.advantages-item
                    img.img-responsive(src="", alt="")
                    i.fa.fa-cog.fa-4x
                    h4.text-uppercase 100% результат
                    p.text lorem
                .col-sm-6.col-md-3.advantages-item
                    img.img-responsive(src="", alt="")
                    i.fa.fa-cog.fa-4x
                    h4.text-uppercase ценовая политика
                    p.text lorem
                .col-sm-6.col-md-3.advantages-item
                    img.img-responsive(src="", alt="")
                    i.fa.fa-cog.fa-4x
                    h4.text-uppercase адекватные цены
                    p.text lorem