.advanced-prices.content-container
    .container
        h2 наши наценки
        .differencial-prices-row
            .price
                .background-item 1
                h4 20%
                p Срочная покраска в течении 3-х часов
            .price
                .background-item 2
                h4 50%
                p Наценка за метик и антик
            .price
                .background-item 3 
                h4 100%
                p покраска в несколько слоев(лак, грунт, два слоя краски) за каждый слой
            .price
                .background-item 4
                h4 по договору
                p Изготовление спец. оснастки, сверление технологических отвестий, удаление поверхностной ржавчины и мелких деффектов
            .price
                .background-item 5
                h4 30%
                p Подготовка к покраске ржавого стального профиля
            .price
                .background-item 6
                h4 5000 р.
                p Соимость цикла до 7 метров
            .price
                .background-item 7 
                h4 50%
                p Перекрас(краска на краску)
        .notes
            p.bold * все цены указаны с учетом НДС 18%
            //- todo: import text
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus est totam maxime animi debitis deleniti minima, nesciunt fugiat explicabo dignissimos minus adipisci voluptas culpa error voluptate. Illo, possimus molestias impedit.
            p Подбор цвета осуществляется по шкале RAL.
            p Гарантия на услуги порошковой окраски в нашей компании - 1 год.