.hero-slider
    .hero-wrapper.container
        h1.bebas-bold профессиональная
        h1.bebas-bold порошковая покраска
        h1.bebas-bold металла
        p.text-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, sint non architecto modi similique sed, dolore rerum minima praesentium nemo, reprehenderit aut enim, reiciendis aliquam atque ad et accusamus mollitia.
        form.order-form(action="#")
            h3.bebas-bold Быстрый заказ
            h4.text-uppercase Сделайте заказ прямо сейчас и получите скидку 10%
            input(type="text", placeholder="Имя").form-control
            input(type="text", placeholder="Телефон").form-control
            input(type="text", placeholder="Тип услуги").form-control
            button(type="submit").btn.btn-success Оставить заявку
            //- TODO: relevant ""
            p Нажимая на кнопку "Отправить заявку", я даю согласие на обработку персональных данных.
        