.hero-slider
    .hero-wrapper.container
        h1.bebas-bold профессиональная
        h1.bebas-bold порошковая покраска
        h1.bebas-bold металла
        p.text-description Применяя оборудование последнего поколения для покраски порошковой краской предметов с любыми массово-габаритными характеристиками, мы оправдываем высокие ожидания заказчиков.
        form.order-form(action="#")
            h3.bebas-bold Быстрый заказ
            h4.text-uppercase Сделайте заказ прямо сейчас и получите скидку 10%
            input(type="text", placeholder="Имя").form-control
            input(type="text", placeholder="Телефон").form-control
            input(type="text", placeholder="Тип услуги").form-control
            button(type="submit").btn.btn-success Оставить заявку
            //- TODO: relevant ""
            p Нажимая на кнопку "Отправить заявку", я даю согласие на обработку персональных данных.
        