.podhod.container.content-container
    .row.content-container
        .col-sm-6
            h2 ответственный
            h2 подход
            //- todo: import text
            p.text lorem
            p.text lorem

        .col-sm-6
            img(src="img/advantages-bg.png", alt="").img-responsive