.podhod.container.content-container
    .row.content-container
        .col-sm-6
            h2 ответственный
            h2 подход
            //- todo: import text
            div Зная все технологические нюансы и имея в распоряжении первоклассное оборудование из Швейцарии, наша компания с легкостью выполняет порошковую покраску алюминиевых профилей более 10 м в длину и даже больше (при длине более 12 метров и массе свыше 150 килограмм стоимость услуг оговаривается индивидуально). 
            br
            div В своей работе мы придерживаемся таких принципов, как: постоянная техническая модернизация, контроль окрашивания на всех этапах и привлечение только грамотных работников. Также мы рады предложить услуги тем, кому необходима порошковая покраска профлиста или объемных изделий, например, сейфов, ящиков, воздуховодов и т.д.

        .col-sm-6
            img(src="img/advantages-bg.png", alt="").img-responsive