.prices.content-container.container
    h2.bebas-bold Прайс лист на услуги
    h2.bebas-bold по порошковой окраске

    //- Плоские изделия
    .prices
        header
            .number 1
            .heading
                h4 Плоские изделия - оцинкованный лист
        main.text-uppercase
            .prices-row
                .name от 1000 М2
                .price 130 руб / м2
            .prices-row
                .name от 500 до 1000 М2
                .price 130 руб / м2
            .prices-row
                .name от 100 до 500 М2
                .price 130 руб / м2
            .prices-row
                .name от 16 до 100 М2
                .price 130 руб / м2
            .prices-row
                .name от 1 до 15 М2
                .price 130 руб / м2
    //- Плоские изделия

    //- гофрированые изделия
    .prices
        header
            .number 2
            .heading
                h4 гофрированые плоские изделия
        main.text-uppercase
            .prices-row
                .name от 1000 М2
                .price 130 руб / м2
            .prices-row
                .name от 500 до 1000 М2
                .price 145 руб / м2
            .prices-row
                .name от 100 до 500 М2
                .price 160 руб / м2
            .prices-row
                .name от 16 до 100 М2
                .price 170 руб / м2
            .prices-row
                .name от 1 до 15 М2
                .price 185 руб / м2
    //- гофрированые изделия

    //- объемные изделия
    .prices
        header
            .number 3
            .heading
                h4 объемные изделия
                span - (ящики, емкости, каркасы, сейфы, корпуса приборов, воздуховоды, подставки, стенды и т. п.)
        main.text-uppercase
            .prices-row
                .name от 500 М2
                .price 140 руб / м2
            .prices-row
                .name от 100 до 500 М2
                .price 150 руб / м2
            .prices-row
                .name от 16 до 100 М2
                .price 160 руб / м2
            .prices-row
                .name от 1 до 15 М2
                .price 180 руб / м2
    //- объемные изделия
    