.prices.content-container.container
    h2.bebas-bold Прайс лист на услуги
    h2.bebas-bold по порошковой окраске

    .prices
        header
            .number 1
            .heading
                h4 Плоские изделия - оцинкованный лист
        main.text-uppercase
            .prices-row
                .name от 1000 М2
                .price 130 руб / м2
            .prices-row
                .name от 500 до 1000 М2
                .price 130 руб / м2
            .prices-row
                .name от 100 до 500 М2
                .price 130 руб / м2
            .prices-row
                .name от 16 до 100 М2
                .price 130 руб / м2
            .prices-row
                .name от 1 до 15 М2
                .price 130 руб / м2