.profile.container.content-container
    h2.text-uppercase качественная порошковая
    h2.text-uppercase покраска профилей
    //- todo: import text from psd
    p.text.ptsans-bold процесс обустройства фундамента, сооружения стен зданий и целый ряд других строительно-ремонтных, а также ландшафтных работ невозможно представить себе без использования металлических профилей. 
    
    //- proofs
    .row.diffirent-configs
        .col-xs-4
            .badge.content-container
                div 1
            h3.text-uppercase Разные конфигурации
            //- todo: import text from psd
            p.ptsans-bold Профили бывают разных конфигураций, веса и размера, однако все нуждаются в дополнительной защите от неблагоприятных факторов окружающей среды. Обеспечить её позволяет порошковая окраска профилей, которую на нашем предприятии смогут выполнить профессионально и в рекордно короткие сроки. 
        .col-xs-8.proofs-background
    //-end diffirent configs

    //- row price difirent
    .row-price-diffirent-wrapper
        .row.price-diffirent
            .col-xs-6.price-diffirent-background
            .col-xs-6.description
                .badge.content-container
                    div 2
                h3.text-uppercase Ценовая политика
                //- todo: import text from psd
                p.ptsans-bold Исходя из ваших потребностей, мы покрасим изделие в тот или иной цвет, при этом вам не придется опустошать корпоративный или семейный бюджет. За десять лет работы наша компания приобрела репутацию надежного партнера для всех, кому требуется порошковая покраска оцинкованного металла, больших конструкций, профилированного листа и т.д. Несмотря на высокое качество производимых в настоящее время металлических изделий, без окраски специальными составами их срок эксплуатации существенно снижается, также, как и показатели прочности. 

    //- end row price diffirent

    //- rowq
    .row.q.content-container
        .col-xs-6
            .badge.content-container
                div 3
            h3.text-uppercase Показатели прочности
            //- todo: import text from psd
            p.ptsans-bold В свою очередь, порошковая покраска мачт освещения, элементов ограждений и прочих конструкций, где используются профили, позволяет не сомневаться в том, что они:
            ul
                li не потеряют изначальных практичных характеристик на протяжении солидного срока службы;
                li не будут подвержены возгоранию и не будут накапливать статическое электричество;
                li окажутся надежно защищенными от коррозийного воздействия; порадуют привлекательным внешним видом, независимо от погодных условий;
    //- end row q 

    p.ptsans-bold Будут обеспечивать необходимый эстетический эффект – порошковая покраска алюминиевых профилей часто требуется для сооружения выразительных рекламных конструкций и украшения витрин.
