.profile.container.content-container
    h2.text-uppercase качественная порошковая
    h2.text-uppercase покраска профилей
    //- todo: import text from psd
    p.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum excepturi, fugit aperiam neque iusto dignissimos corrupti, sit et unde quas maiores laboriosam molestiae enim voluptas, earum! Neque, aut. Asperiores, consequatur.
    
    //- proofs
    .row.diffirent-configs
        .col-xs-6
            .badge.content-container
                div 1
            h3.text-uppercase Разные конфигурации
            //- todo: import text from psd
            p.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium est, nisi repellendus error magnam incidunt nemo vero laboriosam, vitae exercitationem ex eligendi vel saepe doloremque, minima illum corporis enim. Ex?
        .col-xs-6.proofs-background
    //-end diffirent configs

    //- row price difirent
    .row.price-diffirent
        .col-xs-6.price-diffirent-background
        .col-xs-6
            .badge.content-container
                div 2
            h3.text-uppercase Ценовая политика
            //- todo: import text from psd
            p.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium est, nisi repellendus error magnam incidunt nemo vero laboriosam, vitae exercitationem ex eligendi vel saepe doloremque, minima illum corporis enim. Ex?
    //- end row price diffirent

    //- rowq
    .row.q.content-container
        .col-xs-6
            .badge.content-container
                div 3
            h3.text-uppercase Показатели прочности
            //- todo: import text from psd
            p.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium est, nisi repellendus error magnam incidunt nemo vero laboriosam, vitae exercitationem ex eligendi vel saepe doloremque, minima illum corporis enim. Ex?
    //- end row q 
