.video.container.content-container
    .row
        .col-md-2
            h2 Процесс порошковой покраски
            //- todo: get text from psd
            p lorem
        .col-md-10
            //- todo: video player