.profile {
    .diffirent-configs {
        margin-top: 2rem;
        p {
            width: 150%;
        }
        .proofs-background {
            background: url(../img/profiles.jpg) top right no-repeat;
            height: 600px;
        }
    }
    .row-price-diffirent-wrapper {
        .price-diffirent {
            .price-diffirent-background {
                background: url(../img/worker.jpg) top left no-repeat;
                height: 500px;
                margin-top: -11.8rem;
            }
        }
    }
    .q {
        background: url('../img/mudak_v_protivogaze.jpg') top right no-repeat;
        height: 600px;
        ul {
            li {
                list-style-type: none;
                padding-left: 40px;
                margin-top: 0.5rem;
                position: relative;
                .ptsans-bold;
                font-size: 0.9rem;
                &:before {
                    content: '';
                    position: absolute;
                    top: 10px;
                    width: 20px;
                    height: 1px;
                    left: 10px;
                    background: @blue;
                    margin-right: 20px;
                }
            }
        }
    }
}